<div class="plates">
    <% if (plates.length > 0) { %>
    <div class="plates__cards">
        <% for (let i=0; i<plates.length; i++) { %>
            <div class="card">
                <input type="hidden" id="<%= plates[i]._id %>" value= '<%= plates[i]._id %>' >
                <div class="card__picture">
                    <div class="card__picture-overlay">&nbsp;</div>
                    <!-- <img src="../../public/img/plate1.jpg" class="card__picture-img" alt=""> -->
                    <img src="public/img/plates/<%=plates[i].photo%>" class="card__picture-img" alt="">
                </div>
                <div class="card__title">
                    <%=plates[i].name%>
                </div>
                <div class="card__description">
                    <%=plates[i].description%>
                </div>
                <div class="card__bottom">
                    <p class="card__bottom-header">Add Plate</p> 
                    <button class="card__bottom-btn">
                        <ion-icon class="card__bottom-svg"  src="../../public/img/add-circle-outline.svg" ></ion-icon>
                    </button>
                </div>
            </div>
       <% } %>
    </div>
    <% } else { %>
    <div class="plates__add">
        <!-- <p class="plates__add-text">Hi  <%= /* user.name  */  %> , looks like you haven't added a plate yet...let's get started! </p> -->
        <p class="plates__add-text">Looks like you haven't added a plate yet...let's get started! </p>
        <button class="btn plates__add-btn"><a href="/create" class="btn plates__add-btn">Create a Plate</a></button>
    </div>
    <% } %>
</div>  
